<% include partials/header %>
	<dir>
		<h1>Welcome to the second Page: <%= messeage %></h1>
		<% if(messeage === "dog"){ %>
			<p>Good Job!!<p>
		<% }else{ %>
			<p>too bad!!||</p>
		<% } %>

		<ul>
			

		</ul>
	</dir>

<% include partials/footer %>